body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../font/bebasneue-webfont.woff') format('woff'), url('../font/bebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.background-area {
    height: 100%;
    /*background-color: #000;
    background: url('../images/load.gif') center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*      -webkit-filter: saturate(50%) brightness(0.8) sepia(55%);
      -moz-filter: saturate(50%) brightness(0.8) sepia(55%);
      -o-filter: saturate(50%) brightness(0.8) sepia(55%);
      -ms-filter: saturate(50%) brightness(0.8) sepia(55%);*/
}
.background-mask {
    background-repeat: repeat;
    background-size: 2px 2px;
    background-position: top left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../images/bg-overlay.png");
}
.header {
    width: 100%;
    height: 66px;
    display: block;
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0.1;
    -khtml-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
.header-logo {
    width: 250px;
    height: 46px;
    display: block;
    background: url('../images/header-logo.png') no-repeat;
    position: absolute;
    top: 10px;
    left: 220px;
}
.prev-btn {
    width: 63px;
    height: 126px;
    display: block;
    background: url('../images/prev-btn.png') no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -63px;
    z-index: 99;
}
.next-btn {
    width: 63px;
    height: 126px;
    display: block;
    background: url('../images/next-btn.png') no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -63px;
    z-index: 99;
}
.footer {
    height: 183px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}
.info-shadow {
    width: 100%;
    height: 432px;
    display: block;
    background: url('../images/info-shadow.png') repeat-x;
    position: relative;
    top: -540px;
}
.footer .information {
    width: 80%;
    height: 75px;
    display: block;
    position: relative;
    left: 20%;
}
.footer .information .title {
    width: auto;
    display: inline-block;
}
.footer .information .title h1,
h2 {
    margin: 0;
    padding: 0;
    font-family: 'bebas_neueregular';
    color: #fff;
}
.footer .information .title h1 {
    font-size: 40px;
    letter-spacing: 2px;
}
.footer .information .title h2 {
    font-size: 22px;
    letter-spacing: 2px;
}
.footer .information .share-area {
    display: inline-block;
    width: 210px;
    height: 60px;
    position: relative;
    top: 8px;
    margin-left: 20px;
}
.footer .information .share-area a {
    width: 56px;
    height: 56px;
    display: block;
    float: left;
    margin-left: 10px;
}
.footer .information .share-area a.track-like {
    background: url('../images/track-like.png') no-repeat;
}
.footer .information .share-area a.track-like.active {
    background: url('../images/track-like-active.png') no-repeat;
}
.footer .information .share-area a.track-info {
    background: url('../images/track-info.png') no-repeat;
}
.footer .information .share-area a.track-share {
    background: url('../images/track-share.png') no-repeat;
}
.track-share-area {
    width: 70px;
    height: 70px;
    display: block;
    top: -10px;
    left: 110px;
    position: relative;
    display: none;
}
.track-share-area.active {
    display: block;
}
.track-share-area .track-fb-share {
    width: 36px !important;
    height: 36px !important;
    display: block !important;
    float: none !important;
    margin-left: 0 !important;
    margin-top: -27px;
    background: url('../images/track-fb-share.png') no-repeat;
}
.track-share-area .track-tw {
    width: 36px !important;
    height: 36px !important;
    display: block !important;
    background: url('../images/track-tw-share.png') no-repeat;
    float: none !important;
    margin-left: 27px !important;
    margin-top: -5px;
}
.footer .control-bg {
    width: 100%;
    height: 108px;
    background: #000;
    opacity: 0.5;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.footer .control-area {
    width: 80%;
    height: 108px;
    display: block;
    left: 20%;
    position: absolute;
    top: 75px;
}
.footer .control-area .left {
    width: auto;
    height: 60px;
    display: inline-block;
    position: relative;
    top: 24px;
}
.footer-logo {
    width: 41px;
    height: 39px;
    display: inline-block;
    cursor: pointer;
    background: url('../images/footer-logo.png') no-repeat;
}
.control-prev {
    width: 109px;
    height: 51px;
    display: inline-block;
    background: url('../images/prev.png') no-repeat;
    margin: 0 0 0 35px;
}
.control-prev.active {
    background: url('../images/prev-active.png') no-repeat;
}
.control-play {
    width: 72px;
    height: 51px;
    display: inline-block;
    background: url('../images/play.png') no-repeat;
    margin: 0 0 0 30px;
}
.control-play.active {
    background: url('../images/play-active.png') no-repeat;
}
.control-pause {
    width: 72px;
    height: 51px;
    display: inline-block;
    background: url('../images/pause.png') no-repeat;
    margin: 0 0 0 30px;
}
.control-pause.active {
    background: url('../images/pause-active.png') no-repeat;
}
.control-next {
    width: 60px;
    height: 50px;
    display: inline-block;
    margin: 0 0 0 30px;
    background: url('../images/next.png') no-repeat;
}
.control-next.active {
    background: url('../images/next-active.png') no-repeat;
}
.control-my-list {
    width: 88px;
    height: 49px;
    display: inline-block;
    margin: 0 0 0 30px;
    background: url('../images/my-list.png') no-repeat;
}
.control-my-list.active {
    background: url('../images/my-list-active.png') no-repeat;
}
.footer .control-area .right {
    width: auto;
    height: 27px;
    top: 21px;
    display: inline-block;
    margin: 0 0 10px 120px;
    position: relative;
}
.right .volume {
    width: 26px;
    height: 24px;
    display: inline-block;
    background: url('../images/volume.png') no-repeat;
}
.right .volume.active {
    background: url('../images/volume-active.png') no-repeat;
}
.right .facebook {
    width: 10px;
    height: 21px;
    display: inline-block;
    margin: 0 0 0 95px;
    background: url('../images/facebook.png') no-repeat;
}
.right .twitter {
    width: 24px;
    height: 20px;
    display: inline-block;
    margin: 0 0 0 15px;
    background: url('../images/twitter.png') no-repeat;
}
.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url('../images/popup-bg.png') repeat;*/
    display: none;
    z-index: 1000;
}
.popup-content {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url('../images/popup-bg.png') repeat;
}
.close-btn {
    width: 39px;
    height: 39px;
    position: absolute;
    background: url('../images/close-btn.png') no-repeat;
    top: 29px;
    right: 14px;
    display: block;
    z-index: 9999;
    font-size: 25px;
    text-indent: -9999px;
}
.terms-content {
    width: 810px;
    height: 450px;
    position: relative;
    overflow-y: hidden;
    top: 50%;
    left: 50%;
    margin: -352px 0 0 -405px;
}
.terms-content .about-logo {
    width: 338px;
    height: 54px;
    display: block;
    background: url('../images/about-logo.png') no-repeat;
    margin: 0 auto;
}
.terms-content p {
    font-family: 'bebas_neueregular';
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 24px;
}
#playerDiv {
    position: absolute;
    left: -1000px;
}
/*popup*/
